
.container{
    padding: 20px 0 20px 0
    width: 75%;
}
/* {
    padding: 20px;
} */

main .row-1 h2{
    font-weight: 100;
    font-size: xx-large;
    padding-right: 5px;
}
.row-2{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}
.row-3{
    display: flex;
    justify-content: space-between;
}
.row-3-col{
    width: 50%;
}
.row-3-col img{
    padding: 20px;
}
.row-3-col img h1{
    padding: 20px;
}







/* footer */

.foot{
    display: flex;
    justify-content: space-between;
    padding:0 60px 0 60px;
}


.social-links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.foot span{
    padding: 5px;
}
.social-links ul li a{
    text-decoration: none;
    padding: 15px;
}
.social-links ul li a svg{
    /* padding: 20px; */
}